.entry-grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 600px), 1fr));
	gap: 1rem;
	padding: 1rem;
	text-align: center;
}

.entry-grid-container .entry-card {
	max-width: 600px;
	max-height: 400px;
	padding: 1rem;
	border: 1px solid #ccc;
	border-radius: 8px;
	background: #f9f9f9;
}

.entry-grid-container .entry-card img {
	max-height: 200px;
	align-items: center;
}

.entry-grid-container .entry-card .button-group button {
	margin-top: 5px;
	margin-bottom: 5px;
}

.entry-grid-container .entry-card .button-group .open-image-button {
	color: white;
	background: blue;
}

.entry-grid-container .entry-card .button-group .delete-image-button {
	margin-left: 10px;
	color: white;
	background: red;
}

.width_100 {
	width: 100%;
}


.image-manager-loader-div {
	text-align: center;
	padding: 2rem;
}

.image-manager-loader-animation {
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
  width: 30px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, currentColor 90%, #0000) 0/calc(100%/3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}

@keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}
